@import "../bower_components/material-color/material-color";
@import (inline) "../node_modules/angular-material/angular-material.css";


svg.vis{
	width: 500px;
}

svg.vis, cum-chart{
	display: inline block;
}

.car{
	// fill: @clr-light-blue-700;
	stroke: none;
	rx: 1px;
	ry: 1px;
	stroke: @clr-grey-900;
	stroke-width: .35px;
	opacity: .9;
}

.road{
	fill: none;
	stroke-width: 5px;
	stroke: @clr-grey-300;
}

.gradient circle{
	stroke: none;
	opacity: .5;
}

circle.dot{
	fill: @clr-light-blue-500;
	// stroke: white;
	// stroke-width: .3;
}
rect.bg{
	fill: @clr-grey-100;
	// stroke: none;
	
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart path{
	stroke-width: 1px;
	fill: none;
}

.en {
	stroke: @clr-pink-500;
}

.ex {
	stroke: @clr-light-blue-500;
}
// .tick{
// 	stroke-width: .5px;
// }

// .domain{
// 	stroke-width: .5px;
// }